# Monitorando as águas

## Filtrando linhas

### Selecionando linhas com paramatros desejados

In [203]:
import pandas as pd

In [204]:
dados_3anos = pd.read_excel('RelatorioQualidadeAguasSuperficiais_3anos.xlsx')

In [205]:
dados_3anos.head()

,Período DE,Período ATE,Cod_Interaguas,Tipo Rede,UGRHI,Código Ponto,Status Ponto,Data Coleta,Hora Coleta,Parametro,...,CLASSE,Município,UF,Inicio Operação,Fim Operação,Latitude,Longitude,Altitude,Localização,Captação
0,01/01/2019,10/05/2022,2195,Rede Básica,06 - ALTO TIÊTE,SPRA04850,Ativo,03/01/2019,12:15,pH,...,Classe 4,SÃO PAULO,SP,01/01/2012,NaN,23 36 52,46 41 21,737,Ponte na Av. Roberto Marinho com a Rua Ribeiro...,N
1,01/01/2019,10/05/2022,2195,Rede Básica,06 - ALTO TIÊTE,SPRA04850,Ativo,13/03/2019,11:00,pH,...,Classe 4,SÃO PAULO,SP,01/01/2012,NaN,23 36 52,46 41 21,737,Ponte na Av. Roberto Marinho com a Rua Ribeiro...,N
2,01/01/2019,10/05/2022,2195,Rede Básica,06 - ALTO TIÊTE,SPRA04850,Ativo,25/04/2019,10:45,pH,...,Classe 4,SÃO PAULO,SP,01/01/2012,NaN,23 36 52,46 41 21,737,Ponte na Av. Roberto Marinho com a Rua Ribeiro...,N
3,01/01/2019,10/05/2022,2195,Rede Básica,06 - ALTO TIÊTE,SPRA04850,Ativo,16/05/2019,11:45,pH,...,Classe 4,SÃO PAULO,SP,01/01/2012,NaN,23 36 52,46 41 21,737,Ponte na Av. Roberto Marinho com a Rua Ribeiro...,N
4,01/01/2019,10/05/2022,2195,Rede Básica,06 - ALTO TIÊTE,SPRA04850,Ativo,06/06/2019,11:45,pH,...,Classe 4,SÃO PAULO,SP,01/01/2012,NaN,23 36 52,46 41 21,737,Ponte na Av. Roberto Marinho com a Rua Ribeiro...,N

In [206]:
dados_3anos = dados_3anos[['Data Coleta', 'Parametro', 'Valor', 'Unidade' ]]

In [207]:
dados_3anos

    Data Coleta               Parametro        Valor Unidade
0    03/01/2019                      pH   7,58000000    U.pH
1    13/03/2019                      pH   7,54000000    U.pH
2    25/04/2019                      pH   7,50000000    U.pH
3    16/05/2019                      pH   7,56000000    U.pH
4    06/06/2019                      pH   7,58000000    U.pH
..          ...                     ...          ...     ...
846  12/11/2019  Carbono Orgânico Total  28,20000000    mg/L
847  05/12/2019  Carbono Orgânico Total  34,30000000    mg/L
848  04/03/2020  Carbono Orgânico Total  15,60000000    mg/L
849  03/01/2019        Nitrogênio Total  24,80000000    mg/L
850  13/03/2019        Nitrogênio Total  17,40000000    mg/L

[851 rows x 4 columns]

### Separando em dfs (opcional) e selecionando colunas desejadas

In [208]:
df_pH = dados_3anos.loc[(dados_3anos['Parametro'] == 'pH')]
df_pH.rename(columns={'Valor':'Valor pH(U.pH)'}, inplace=True)

df_temp = dados_3anos.loc[(dados_3anos['Parametro'] == 'Temperatura da Água')]
df_temp.rename(columns={'Valor':'Valor temperatura(ºC)'}, inplace=True)

df_fosf = dados_3anos.loc[(dados_3anos['Parametro'] == 'Fósforo Total')]
df_fosf.rename(columns={'Valor':'Valor fosforo(mg/L)'}, inplace=True)

df_dbo = dados_3anos.loc[(dados_3anos['Parametro'] == 'DBO (5, 20)')]
df_dbo.rename(columns={'Valor':'Valor DBO(mg/L)'}, inplace=True)

df_nit = dados_3anos.loc[(dados_3anos['Parametro'] == 'Nitrogênio Kjeldahl') | (dados_3anos['Parametro'] == 'Nitrogênio-Nitrito') 
            | (dados_3anos['Parametro'] == 'Nitrogênio-Nitrato')]
df_nit.rename(columns={'Valor':'Valor nitrogenio(mg/L)'}, inplace=True)

df_coli = dados_3anos.loc[(dados_3anos['Parametro'] == 'Escherichia coli**')]
df_coli.rename(columns={'Valor':'Valor coliforme(UFC/100mL)'}, inplace=True)

df_oxi = dados_3anos.loc[(dados_3anos['Parametro'] == 'Oxigênio Dissolvido')]
df_oxi.rename(columns={'Valor':'Valor oxigenio(mg/L)'}, inplace=True)

df_turb = dados_3anos.loc[(dados_3anos['Parametro'] == 'Turbidez')]
df_turb.rename(columns={'Valor':'Valor turbidez(UNT)'}, inplace=True)

df_sol = dados_3anos.loc[(dados_3anos['Parametro'] == 'Sólido Total')]
df_sol.rename(columns={'Valor':'Valor solidos(mg/L)'}, inplace=True)

c:\Users\nicol\Anaconda3\lib\site-packages\pandas\core\frame.py:5042: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [209]:
print(
df_pH.shape[0],
df_temp.shape[0],
df_fosf.shape[0],
df_dbo.shape[0],
df_nit.shape[0],
df_coli.shape[0],
df_oxi.shape[0],
df_turb.shape[0],
df_sol.shape[0])

21 21 21 14 61 21 21 21 21

In [210]:
dfs = [
        df_pH,
        df_temp,
        df_fosf,
        df_dbo,
        df_nit,
        df_coli,
        df_oxi,
        df_turb,
        df_sol]

In [211]:
for df in dfs:
   df.drop(['Parametro','Unidade'], inplace=True, axis=1)

c:\Users\nicol\Anaconda3\lib\site-packages\pandas\core\frame.py:4908: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [212]:
df_oxi.head()

    Data Coleta Valor oxigenio(mg/L)
365  03/01/2019           0,59000000
366  13/03/2019           3,29000000
367  25/04/2019           1,16000000
368  16/05/2019           3,63000000
369  06/06/2019           2,30000000

### Juntando os dfs

In [213]:
from functools import reduce

In [214]:
df_juntos = reduce(lambda  left,right: pd.merge(left,right,on=['Data Coleta'],
                                            how='outer'), dfs)

In [215]:
df_juntos

,Data Coleta,Valor pH(U.pH),Valor temperatura(ºC),Valor fosforo(mg/L),Valor DBO(mg/L),Valor nitrogenio(mg/L),Valor coliforme(UFC/100mL),Valor oxigenio(mg/L),Valor turbidez(UNT),Valor solidos(mg/L)
0,03/01/2019,"7,58000000","27,00000000","2,54000000","45,00000000","0,10000000","5200000,00000000","0,59000000","48,30000000","310,00000000"
1,03/01/2019,"7,58000000","27,00000000","2,54000000","45,00000000","0,20000000","5200000,00000000","0,59000000","48,30000000","310,00000000"
2,13/03/2019,"7,54000000","24,90000000","1,26000000","15,00000000","0,23000000","1800000,00000000","3,29000000","17,70000000","258,00000000"
3,13/03/2019,"7,54000000","24,90000000","1,26000000","15,00000000","1,85000000","1800000,00000000","3,29000000","17,70000000","258,00000000"
4,25/04/2019,"7,50000000","25,80000000","2,31000000","33,00000000","21,80000000","2900000,00000000","1,16000000","54,50000000","356,00000000"
...,...,...,...,...,...,...,...,...,...,...
56,05/12/2019,"7,20000000","24,40000000","2,49000000","61,90000000","0,10000000","3800000,00000000","1,16000000","56,30000000","308,00000000"
57,05/12/2019,"7,20000000","24,40000000","2,49000000","61,90000000","0,20000000","3800000,00000000","1,16000000","56,30000000","308,00000000"
58,04/03/2020,"7,40000000","22,60000000","1,36000000","26,90000000","17,60000000","1200000,00000000","2,81000000","10,60000000","228,00000000"
59,04/03/2020,"7,40000000","22,60000000","1,36000000","26,90000000","0,17000000","1200000,00000000","2,81000000","10,60000000","228,00000000"
60,04/03/2020,"7,40000000","22,60000000","1,36000000","26,90000000","0,78000000","1200000,00000000","2,81000000","10,60000000","228,00000000"

----------

## Organizando em ordem cronológica e convertendo tipos

### Convertendo data

In [216]:
df_juntos['Data Coleta'].dtypes

dtype('O')

In [217]:
df_juntos['Data Coleta'] = pd.to_datetime(df_juntos['Data Coleta'], format='%d/%m/%Y',  errors='coerce')

In [218]:
df_juntos.head()

,Data Coleta,Valor pH(U.pH),Valor temperatura(ºC),Valor fosforo(mg/L),Valor DBO(mg/L),Valor nitrogenio(mg/L),Valor coliforme(UFC/100mL),Valor oxigenio(mg/L),Valor turbidez(UNT),Valor solidos(mg/L)
0,2019-01-03,"7,58000000","27,00000000","2,54000000","45,00000000","0,10000000","5200000,00000000","0,59000000","48,30000000","310,00000000"
1,2019-01-03,"7,58000000","27,00000000","2,54000000","45,00000000","0,20000000","5200000,00000000","0,59000000","48,30000000","310,00000000"
2,2019-03-13,"7,54000000","24,90000000","1,26000000","15,00000000","0,23000000","1800000,00000000","3,29000000","17,70000000","258,00000000"
3,2019-03-13,"7,54000000","24,90000000","1,26000000","15,00000000","1,85000000","1800000,00000000","3,29000000","17,70000000","258,00000000"
4,2019-04-25,"7,50000000","25,80000000","2,31000000","33,00000000","21,80000000","2900000,00000000","1,16000000","54,50000000","356,00000000"

In [219]:
df_juntos['Data Coleta'].dtypes

dtype('<M8[ns]')

### Orem cronológica

In [220]:
df_cron = df_juntos.sort_values(by='Data Coleta')

In [221]:
df_cron.head()

,Data Coleta,Valor pH(U.pH),Valor temperatura(ºC),Valor fosforo(mg/L),Valor DBO(mg/L),Valor nitrogenio(mg/L),Valor coliforme(UFC/100mL),Valor oxigenio(mg/L),Valor turbidez(UNT),Valor solidos(mg/L)
0,2019-01-03,"7,58000000","27,00000000","2,54000000","45,00000000","0,10000000","5200000,00000000","0,59000000","48,30000000","310,00000000"
1,2019-01-03,"7,58000000","27,00000000","2,54000000","45,00000000","0,20000000","5200000,00000000","0,59000000","48,30000000","310,00000000"
2,2019-03-13,"7,54000000","24,90000000","1,26000000","15,00000000","0,23000000","1800000,00000000","3,29000000","17,70000000","258,00000000"
3,2019-03-13,"7,54000000","24,90000000","1,26000000","15,00000000","1,85000000","1800000,00000000","3,29000000","17,70000000","258,00000000"
4,2019-04-25,"7,50000000","25,80000000","2,31000000","33,00000000","21,80000000","2900000,00000000","1,16000000","54,50000000","356,00000000"

### Convertendo valores

In [222]:
lista_col = df_cron.columns.values.tolist()[1:]

In [223]:
lista_col

['Valor pH(U.pH)',
 'Valor temperatura(ºC)',
 'Valor fosforo(mg/L)',
 'Valor DBO(mg/L)',
 'Valor nitrogenio(mg/L)',
 'Valor coliforme(UFC/100mL)',
 'Valor oxigenio(mg/L)',
 'Valor turbidez(UNT)',
 'Valor solidos(mg/L)']

In [224]:
df_cron[lista_col] = df_cron[lista_col].apply(lambda x: x.str.replace(',','.'))

In [227]:
df_cron['Valor pH(U.pH)'].dtypes

dtype('O')

In [228]:
df_cron[lista_col] = df_cron[lista_col].apply(pd.to_numeric)

In [230]:
df_cron.head()

,Data Coleta,Valor pH(U.pH),Valor temperatura(ºC),Valor fosforo(mg/L),Valor DBO(mg/L),Valor nitrogenio(mg/L),Valor coliforme(UFC/100mL),Valor oxigenio(mg/L),Valor turbidez(UNT),Valor solidos(mg/L)
0,2019-01-03,7.58,27.0,2.54,45.0,0.10,5200000.0,0.59,48.3,310.0
1,2019-01-03,7.58,27.0,2.54,45.0,0.20,5200000.0,0.59,48.3,310.0
2,2019-03-13,7.54,24.9,1.26,15.0,0.23,1800000.0,3.29,17.7,258.0
3,2019-03-13,7.54,24.9,1.26,15.0,1.85,1800000.0,3.29,17.7,258.0
4,2019-04-25,7.50,25.8,2.31,33.0,21.80,2900000.0,1.16,54.5,356.0

In [231]:
df_cron['Valor pH(U.pH)'].dtypes

dtype('float64')

Passando para uma planilha do excel

In [232]:
#df_cron.to_excel(r'dados_filtrados.xlsx', index = False)

### Agrupando dados de um mesmo mês

In [234]:
df_mensal = df_cron.resample('M', on='Data Coleta').mean()

In [235]:
df_mensal

,Valor pH(U.pH),Valor temperatura(ºC),Valor fosforo(mg/L),Valor DBO(mg/L),Valor nitrogenio(mg/L),Valor coliforme(UFC/100mL),Valor oxigenio(mg/L),Valor turbidez(UNT),Valor solidos(mg/L)
Data Coleta,,,,,,,,,
2019-01-31,7.58,27.0,2.54,45.0,0.150000,5200000.0,0.59,48.3,310.0
2019-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-31,7.54,24.9,1.26,15.0,1.040000,1800000.0,3.29,17.7,258.0
2019-04-30,7.50,25.8,2.31,33.0,7.366667,2900000.0,1.16,54.5,356.0
2019-05-31,7.56,22.0,1.87,50.0,8.236667,3500000.0,3.63,62.2,610.0
2019-06-30,7.58,20.5,2.03,31.0,7.500000,2600000.0,2.30,30.0,304.0
2019-07-31,7.43,18.2,0.72,34.0,1.830000,600000.0,8.03,83.7,192.0
2019-08-31,7.44,19.5,2.71,52.0,7.766667,2100000.0,1.30,52.1,310.0
2019-09-30,7.51,20.3,2.17,70.0,6.353333,3500000.0,2.65,64.7,468.0
2019-10-31,7.40,22.2,2.79,48.0,7.120000,2800000.0,2.61,52.2,284.0
2019-11-30,7.50,23.2,2.68,42.2,9.133333,4500000.0,2.06,29.2,258.0
2019-12-31,7.20,24.4,2.49,61.9,8.333333,3800000.0,1.16,56.3,308.0
2020-01-31,7.60,25.6,1.30,31.1,6.910000,9400000.0,3.94,18.7,270.0
2020-02-29,7.60,25.9,1.32,31.1,7.096667,5300000.0,3.26,17.6,264.0
2020-03-31,7.40,22.6,1.36,26.9,6.183333,1200000.0,2.81,10.6,228.0
2020-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-07-31,7.40,20.1,2.00,NaN,7.370000,3000000.0,1.24,19.0,272.0
2020-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-30,7.20,22.0,5.00,NaN,8.670000,2700000.0,2.90,34.0,244.0
2020-10-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-11-30,7.60,20.3,1.44,NaN,5.800000,1900000.0,3.47,45.7,252.0
2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-31,7.70,24.3,0.48,NaN,3.520000,2400000.0,6.35,12.2,222.0
2021-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-05-31,7.50,20.8,3.00,NaN,9.450000,3400000.0,1.60,43.1,290.0
2021-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-08-31,7.60,18.1,2.80,NaN,9.266667,1900000.0,3.52,45.0,260.0
2021-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-11-30,7.60,22.6,1.74,NaN,5.726667,2100000.0,1.37,60.0,250.0

## Plotando gráficos

### pH