In [114]:
import pandas as pd

In [115]:
dados_3anos = pd.read_excel('RelatorioQualidadeAguasSuperficiais_3anos.xlsx')

In [116]:
dados_3anos.head()

,Período DE,Período ATE,Cod_Interaguas,Tipo Rede,UGRHI,Código Ponto,Status Ponto,Data Coleta,Hora Coleta,Parametro,...,CLASSE,Município,UF,Inicio Operação,Fim Operação,Latitude,Longitude,Altitude,Localização,Captação
0,01/01/2019,10/05/2022,2195,Rede Básica,06 - ALTO TIÊTE,SPRA04850,Ativo,03/01/2019,12:15,pH,...,Classe 4,SÃO PAULO,SP,01/01/2012,NaN,23 36 52,46 41 21,737,Ponte na Av. Roberto Marinho com a Rua Ribeiro...,N
1,01/01/2019,10/05/2022,2195,Rede Básica,06 - ALTO TIÊTE,SPRA04850,Ativo,13/03/2019,11:00,pH,...,Classe 4,SÃO PAULO,SP,01/01/2012,NaN,23 36 52,46 41 21,737,Ponte na Av. Roberto Marinho com a Rua Ribeiro...,N
2,01/01/2019,10/05/2022,2195,Rede Básica,06 - ALTO TIÊTE,SPRA04850,Ativo,25/04/2019,10:45,pH,...,Classe 4,SÃO PAULO,SP,01/01/2012,NaN,23 36 52,46 41 21,737,Ponte na Av. Roberto Marinho com a Rua Ribeiro...,N
3,01/01/2019,10/05/2022,2195,Rede Básica,06 - ALTO TIÊTE,SPRA04850,Ativo,16/05/2019,11:45,pH,...,Classe 4,SÃO PAULO,SP,01/01/2012,NaN,23 36 52,46 41 21,737,Ponte na Av. Roberto Marinho com a Rua Ribeiro...,N
4,01/01/2019,10/05/2022,2195,Rede Básica,06 - ALTO TIÊTE,SPRA04850,Ativo,06/06/2019,11:45,pH,...,Classe 4,SÃO PAULO,SP,01/01/2012,NaN,23 36 52,46 41 21,737,Ponte na Av. Roberto Marinho com a Rua Ribeiro...,N

In [117]:
dados_3anos = dados_3anos[['Data Coleta', 'Parametro', 'Valor', 'Unidade' ]]

In [118]:
dados_3anos

    Data Coleta               Parametro        Valor Unidade
0    03/01/2019                      pH   7,58000000    U.pH
1    13/03/2019                      pH   7,54000000    U.pH
2    25/04/2019                      pH   7,50000000    U.pH
3    16/05/2019                      pH   7,56000000    U.pH
4    06/06/2019                      pH   7,58000000    U.pH
..          ...                     ...          ...     ...
846  12/11/2019  Carbono Orgânico Total  28,20000000    mg/L
847  05/12/2019  Carbono Orgânico Total  34,30000000    mg/L
848  04/03/2020  Carbono Orgânico Total  15,60000000    mg/L
849  03/01/2019        Nitrogênio Total  24,80000000    mg/L
850  13/03/2019        Nitrogênio Total  17,40000000    mg/L

[851 rows x 4 columns]

In [119]:
""""
anos3_filtrado = dados_3anos.loc[(dados_3anos['Parametro'] == 'pH') | (dados_3anos['Parametro'] == 'Temperatura da Água') 
               | (dados_3anos['Parametro'] == 'Fósforo Total') | (dados_3anos['Parametro'] == 'DBO (5, 20)') 
               | (dados_3anos['Parametro'] == 'Nitrogênio Kjeldahl') | (dados_3anos['Parametro'] == 'Nitrogênio-Nitrito') 
               | (dados_3anos['Parametro'] == 'Nitrogênio-Nitrato')  | (dados_3anos['Parametro'] == 'Escherichia coli**') 
               | (dados_3anos['Parametro'] == 'Turbidez') | (dados_3anos['Parametro'] == 'Sólido Total')
               | (dados_3anos['Parametro'] == 'Oxigênio Dissolvido')]
"""

'"\nanos3_filtrado = dados_3anos.loc[(dados_3anos[\'Parametro\'] == \'pH\') | (dados_3anos[\'Parametro\'] == \'Temperatura da Água\') \n               | (dados_3anos[\'Parametro\'] == \'Fósforo Total\') | (dados_3anos[\'Parametro\'] == \'DBO (5, 20)\') \n               | (dados_3anos[\'Parametro\'] == \'Nitrogênio Kjeldahl\') | (dados_3anos[\'Parametro\'] == \'Nitrogênio-Nitrito\') \n               | (dados_3anos[\'Parametro\'] == \'Nitrogênio-Nitrato\')  | (dados_3anos[\'Parametro\'] == \'Escherichia coli**\') \n               | (dados_3anos[\'Parametro\'] == \'Turbidez\') | (dados_3anos[\'Parametro\'] == \'Sólido Total\')\n               | (dados_3anos[\'Parametro\'] == \'Oxigênio Dissolvido\')]\n'

In [120]:
df_pH = dados_3anos.loc[(dados_3anos['Parametro'] == 'pH')]
df_pH.rename(columns={'Valor':'Valor pH(U.pH)'}, inplace=True)

df_temp = dados_3anos.loc[(dados_3anos['Parametro'] == 'Temperatura da Água')]
df_temp.rename(columns={'Valor':'Valor temperatura(ºC)'}, inplace=True)

df_fosf = dados_3anos.loc[(dados_3anos['Parametro'] == 'Fósforo Total')]
df_fosf.rename(columns={'Valor':'Valor fosforo(mg/L)'}, inplace=True)

df_dbo = dados_3anos.loc[(dados_3anos['Parametro'] == 'DBO (5, 20)')]
df_dbo.rename(columns={'Valor':'Valor DBO(mg/L)'}, inplace=True)

df_nit = dados_3anos.loc[(dados_3anos['Parametro'] == 'Nitrogênio Kjeldahl') | (dados_3anos['Parametro'] == 'Nitrogênio-Nitrito') 
            | (dados_3anos['Parametro'] == 'Nitrogênio-Nitrato')]
df_nit.rename(columns={'Valor':'Valor nitrogenio(mg/L)'}, inplace=True)

df_coli = dados_3anos.loc[(dados_3anos['Parametro'] == 'Escherichia coli**')]
df_coli.rename(columns={'Valor':'Valor coliforme(UFC/100mL)'}, inplace=True)

df_oxi = dados_3anos.loc[(dados_3anos['Parametro'] == 'Oxigênio Dissolvido')]
df_oxi.rename(columns={'Valor':'Valor oxigenio(mg/L)'}, inplace=True)

df_turb = dados_3anos.loc[(dados_3anos['Parametro'] == 'Turbidez')]
df_turb.rename(columns={'Valor':'Valor turbidez(UNT)'}, inplace=True)

df_sol = dados_3anos.loc[(dados_3anos['Parametro'] == 'Sólido Total')]
df_sol.rename(columns={'Valor':'Valor solidos(mg/L)'}, inplace=True)

c:\Users\nicol\Anaconda3\lib\site-packages\pandas\core\frame.py:5042: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [121]:
print(
df_pH.shape[0],
df_temp.shape[0],
df_fosf.shape[0],
df_dbo.shape[0],
df_nit.shape[0],
df_coli.shape[0],
df_oxi.shape[0],
df_turb.shape[0],
df_sol.shape[0])

21 21 21 14 61 21 21 21 21

In [122]:
dfs = [
        df_pH,
        df_temp,
        df_fosf,
        df_dbo,
        df_nit,
        df_coli,
        df_oxi,
        df_turb,
        df_sol]

In [123]:
for df in dfs:
   df.drop(['Parametro','Unidade'], inplace=True, axis=1)

c:\Users\nicol\Anaconda3\lib\site-packages\pandas\core\frame.py:4908: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [124]:
df_oxi.head()

    Data Coleta Valor oxigenio(mg/L)
365  03/01/2019           0,59000000
366  13/03/2019           3,29000000
367  25/04/2019           1,16000000
368  16/05/2019           3,63000000
369  06/06/2019           2,30000000

In [125]:
from functools import reduce

In [126]:
final_df = reduce(lambda  left,right: pd.merge(left,right,on=['Data Coleta'],
                                            how='outer'), dfs)

In [127]:
final_df

,Data Coleta,Valor pH(U.pH),Valor temperatura(ºC),Valor fosforo(mg/L),Valor DBO(mg/L),Valor nitrogenio(mg/L),Valor coliforme(UFC/100mL),Valor oxigenio(mg/L),Valor turbidez(UNT),Valor solidos(mg/L)
0,03/01/2019,"7,58000000","27,00000000","2,54000000","45,00000000","0,10000000","5200000,00000000","0,59000000","48,30000000","310,00000000"
1,03/01/2019,"7,58000000","27,00000000","2,54000000","45,00000000","0,20000000","5200000,00000000","0,59000000","48,30000000","310,00000000"
2,13/03/2019,"7,54000000","24,90000000","1,26000000","15,00000000","0,23000000","1800000,00000000","3,29000000","17,70000000","258,00000000"
3,13/03/2019,"7,54000000","24,90000000","1,26000000","15,00000000","1,85000000","1800000,00000000","3,29000000","17,70000000","258,00000000"
4,25/04/2019,"7,50000000","25,80000000","2,31000000","33,00000000","21,80000000","2900000,00000000","1,16000000","54,50000000","356,00000000"
...,...,...,...,...,...,...,...,...,...,...
56,05/12/2019,"7,20000000","24,40000000","2,49000000","61,90000000","0,10000000","3800000,00000000","1,16000000","56,30000000","308,00000000"
57,05/12/2019,"7,20000000","24,40000000","2,49000000","61,90000000","0,20000000","3800000,00000000","1,16000000","56,30000000","308,00000000"
58,04/03/2020,"7,40000000","22,60000000","1,36000000","26,90000000","17,60000000","1200000,00000000","2,81000000","10,60000000","228,00000000"
59,04/03/2020,"7,40000000","22,60000000","1,36000000","26,90000000","0,17000000","1200000,00000000","2,81000000","10,60000000","228,00000000"
60,04/03/2020,"7,40000000","22,60000000","1,36000000","26,90000000","0,78000000","1200000,00000000","2,81000000","10,60000000","228,00000000"

In [129]:
print(final_df.to_string())

   Data Coleta Valor pH(U.pH) Valor temperatura(ºC) Valor fosforo(mg/L) Valor DBO(mg/L) Valor nitrogenio(mg/L) Valor coliforme(UFC/100mL) Valor oxigenio(mg/L) Valor turbidez(UNT) Valor solidos(mg/L)
0   03/01/2019     7,58000000           27,00000000          2,54000000     45,00000000             0,10000000           5200000,00000000           0,59000000         48,30000000        310,00000000
1   03/01/2019     7,58000000           27,00000000          2,54000000     45,00000000             0,20000000           5200000,00000000           0,59000000         48,30000000        310,00000000
2   13/03/2019     7,54000000           24,90000000          1,26000000     15,00000000             0,23000000           1800000,00000000           3,29000000         17,70000000        258,00000000
3   13/03/2019     7,54000000           24,90000000          1,26000000     15,00000000             1,85000000           1800000,00000000           3,29000000         17,70000000        258,00000000
4   25/04/2019     7,50000000           25,80000000          2,31000000     33,00000000            21,80000000           2900000,00000000           1,16000000         54,50000000        356,00000000
5   25/04/2019     7,50000000           25,80000000          2,31000000     33,00000000             0,10000000           2900000,00000000           1,16000000         54,50000000        356,00000000
6   25/04/2019     7,50000000           25,80000000          2,31000000     33,00000000             0,20000000           2900000,00000000           1,16000000         54,50000000        356,00000000
7   16/05/2019     7,56000000           22,00000000          1,87000000     50,00000000            23,80000000           3500000,00000000           3,63000000         62,20000000        610,00000000
8   16/05/2019     7,56000000           22,00000000          1,87000000     50,00000000             0,21000000           3500000,00000000           3,63000000         62,20000000        610,00000000
9   16/05/2019     7,56000000           22,00000000          1,87000000     50,00000000             0,70000000           3500000,00000000           3,63000000         62,20000000        610,00000000
10  06/06/2019     7,58000000           20,50000000          2,03000000     31,00000000            22,10000000           2600000,00000000           2,30000000         30,00000000        304,00000000
11  06/06/2019     7,58000000           20,50000000          2,03000000     31,00000000             0,10000000           2600000,00000000           2,30000000         30,00000000        304,00000000
12  06/06/2019     7,58000000           20,50000000          2,03000000     31,00000000             0,30000000           2600000,00000000           2,30000000         30,00000000        304,00000000
13  04/07/2019     7,43000000           18,20000000          0,72000000     34,00000000             4,28000000            600000,00000000           8,03000000         83,70000000        192,00000000
14  04/07/2019     7,43000000           18,20000000          0,72000000     34,00000000             0,10000000            600000,00000000           8,03000000         83,70000000        192,00000000
15  04/07/2019     7,43000000           18,20000000          0,72000000     34,00000000             1,11000000            600000,00000000           8,03000000         83,70000000        192,00000000
16  12/05/2021     7,50000000           20,80000000          3,00000000             NaN            27,80000000           3400000,00000000           1,60000000         43,10000000        290,00000000
17  12/05/2021     7,50000000           20,80000000          3,00000000             NaN             0,05000000           3400000,00000000           1,60000000         43,10000000        290,00000000
18  12/05/2021     7,50000000           20,80000000          3,00000000             NaN             0,50000000           3400000,00000000           1,60000000         43,10000000        290,00000000
19  04/08/2021     7,60000000           18,10000000          2,80000000             NaN            27,50000000           1900000,00000000           3,52000000         45,00000000        260,00000000
20  04/08/2021     7,60000000           18,10000000          2,80000000             NaN             0,02000000           1900000,00000000           3,52000000         45,00000000        260,00000000
21  04/08/2021     7,60000000           18,10000000          2,80000000             NaN             0,28000000           1900000,00000000           3,52000000         45,00000000        260,00000000
22  24/11/2021     7,60000000           22,60000000          1,74000000             NaN            16,60000000           2100000,00000000           1,37000000         60,00000000        250,00000000
23  24/11/2021     7,60000000           22,60000000          1,74000000             NaN             0,08000000           2100000,00000000           1,37000000         60,00000000        250,00000000
24  24/11/2021     7,60000000           22,60000000          1,74000000             NaN             0,50000000           2100000,00000000           1,37000000         60,00000000        250,00000000
25  08/01/2020     7,60000000           25,60000000          1,30000000     31,10000000            18,30000000           9400000,00000000           3,94000000         18,70000000        270,00000000
26  08/01/2020     7,60000000           25,60000000          1,30000000     31,10000000             0,57000000           9400000,00000000           3,94000000         18,70000000        270,00000000
27  08/01/2020     7,60000000           25,60000000          1,30000000     31,10000000             1,86000000           9400000,00000000           3,94000000         18,70000000        270,00000000
28  19/02/2020     7,60000000           25,90000000          1,32000000     31,10000000            19,40000000           5300000,00000000           3,26000000         17,60000000        264,00000000
29  19/02/2020     7,60000000           25,90000000          1,32000000     31,10000000             0,50000000           5300000,00000000           3,26000000         17,60000000        264,00000000
30  19/02/2020     7,60000000           25,90000000          1,32000000     31,10000000             1,39000000           5300000,00000000           3,26000000         17,60000000        264,00000000
31  14/07/2020     7,40000000           20,10000000          2,00000000             NaN            21,90000000           3000000,00000000           1,24000000         19,00000000        272,00000000
32  14/07/2020     7,40000000           20,10000000          2,00000000             NaN             0,01000000           3000000,00000000           1,24000000         19,00000000        272,00000000
33  14/07/2020     7,40000000           20,10000000          2,00000000             NaN             0,20000000           3000000,00000000           1,24000000         19,00000000        272,00000000
34  03/09/2020     7,20000000           22,00000000          5,00000000             NaN            25,80000000           2700000,00000000           2,90000000         34,00000000        244,00000000
35  03/09/2020     7,20000000           22,00000000          5,00000000             NaN             0,01000000           2700000,00000000           2,90000000         34,00000000        244,00000000
36  03/09/2020     7,20000000           22,00000000          5,00000000             NaN             0,20000000           2700000,00000000           2,90000000         34,00000000        244,00000000
37  05/11/2020     7,60000000           20,30000000          1,44000000             NaN            16,60000000           1900000,00000000           3,47000000         45,70000000        252,00000000
38  05/11/2020     7,60000000           20,30000000          1,44000000             NaN             0,10000000           1900000,00000000           3,47000000         45,70000000        252,00000000
39  05/11/2020     7,60000000           20,30000000          1,44000000             NaN             0,70000000           1900000,00000000           3,47000000         45,70000000        252,00000000
40  28/01/2021     7,70000000           24,30000000          0,48000000             NaN             7,59000000           2400000,00000000           6,35000000         12,20000000        222,00000000
41  28/01/2021     7,70000000           24,30000000          0,48000000             NaN             0,19000000           2400000,00000000           6,35000000         12,20000000        222,00000000
42  28/01/2021     7,70000000           24,30000000          0,48000000             NaN             2,78000000           2400000,00000000           6,35000000         12,20000000        222,00000000
43  01/08/2019     7,44000000           19,50000000          2,71000000     52,00000000            23,00000000           2100000,00000000           1,30000000         52,10000000        310,00000000
44  01/08/2019     7,44000000           19,50000000          2,71000000     52,00000000             0,10000000           2100000,00000000           1,30000000         52,10000000        310,00000000
45  01/08/2019     7,44000000           19,50000000          2,71000000     52,00000000             0,20000000           2100000,00000000           1,30000000         52,10000000        310,00000000
46  03/09/2019     7,51000000           20,30000000          2,17000000     70,00000000            18,50000000           3500000,00000000           2,65000000         64,70000000        468,00000000
47  03/09/2019     7,51000000           20,30000000          2,17000000     70,00000000             0,16000000           3500000,00000000           2,65000000         64,70000000        468,00000000
48  03/09/2019     7,51000000           20,30000000          2,17000000     70,00000000             0,40000000           3500000,00000000           2,65000000         64,70000000        468,00000000
49  10/10/2019     7,40000000           22,20000000          2,79000000     48,00000000            21,00000000           2800000,00000000           2,61000000         52,20000000        284,00000000
50  10/10/2019     7,40000000           22,20000000          2,79000000     48,00000000             0,10000000           2800000,00000000           2,61000000         52,20000000        284,00000000
51  10/10/2019     7,40000000           22,20000000          2,79000000     48,00000000             0,26000000           2800000,00000000           2,61000000         52,20000000        284,00000000
52  12/11/2019     7,50000000           23,20000000          2,68000000     42,20000000            27,10000000           4500000,00000000           2,06000000         29,20000000        258,00000000
53  12/11/2019     7,50000000           23,20000000          2,68000000     42,20000000             0,10000000           4500000,00000000           2,06000000         29,20000000        258,00000000
54  12/11/2019     7,50000000           23,20000000          2,68000000     42,20000000             0,20000000           4500000,00000000           2,06000000         29,20000000        258,00000000
55  05/12/2019     7,20000000           24,40000000          2,49000000     61,90000000            24,70000000           3800000,00000000           1,16000000         56,30000000        308,00000000
56  05/12/2019     7,20000000           24,40000000          2,49000000     61,90000000             0,10000000           3800000,00000000           1,16000000         56,30000000        308,00000000
57  05/12/2019     7,20000000           24,40000000          2,49000000     61,90000000             0,20000000           3800000,00000000           1,16000000         56,30000000        308,00000000
58  04/03/2020     7,40000000           22,60000000          1,36000000     26,90000000            17,60000000           1200000,00000000           2,81000000         10,60000000        228,00000000
59  04/03/2020     7,40000000           22,60000000          1,36000000     26,90000000             0,17000000           1200000,00000000           2,81000000         10,60000000        228,00000000
60  04/03/2020     7,40000000           22,60000000          1,36000000     26,90000000             0,78000000           1200000,00000000           2,81000000         10,60000000        228,00000000